@charset "utf-8";
/*
	styles for select
*/
.cuselFrameRight,
.jScrollArrowUp,
.jScrollArrowDown {
	background: url(images/select_bg.png) no-repeat;
}
.cusel { /* общий вид селекта включая стрелку справа */
	height: 30px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 13px;
	z-index: 1;
	border: 1px solid #dadada;
}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	height: 100%;
	width: 42px;
	background-position: right top;
	background-repeat: no-repeat;
}

.cuselText { /* контейнер для отображенного текста селект */
	height: 18px;
	padding: 6px 0 6px 8px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	font: 13px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; /* шрифты */
	color: #333;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 18px;
}
* html .cuselText { /* высота блока для текста для ие6 */
	height: 26px;
}
.cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	white-space: nowrap;
	padding: 2px 15px 2px 8px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
	height: 21px;
	line-height: 21px;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #eeeeee;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #f5f5f5;
	cursor: default;
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight {
	/*background-image: url(images/selects-focus.png);*/
}

.cusel:hover,
.cusel:focus,
.cuselFocus,
.cuselOpen {	
	box-shadow: 1px 1px 1px #dddddd inset;
}

.cusel:focus,
.cuselFocus,
.cuselOpen {
	border-color: #389eb9 #44bfdf #44bfdf #389eb9;
}

.cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	/*background-image: url(images/selects-2-dis.png) !important;*/
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;	
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	margin: 0 -1px 0 -1px;
	box-shadow: 2px 2px 3px #E1E1E1;
	border: 1px solid #cbcbcb; /* границы выпадающего спиcка */
}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 14px !important;
	background: #ccc;
	position: absolute;
	top: -1px;
	right: -1px;	
	background: none repeat scroll 0 0 #f2f2f2;
   border-color: #A9A9A9 #CECECE #E6E6E6;
   border-style: solid;
   border-width: 1px;
   box-shadow: 1px 1px 1px #DDDDDD inset;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	cursor: pointer;
	width: 12px !important;
	height: 27px !important;
	right: 1px;	
	background-color: #dadada !important;	
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	position: absolute;
	top: 0;
	right: 2px;
	width: 26px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 25px;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: 3px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
}